.u-mb-m {
	margin-bottom: 3rem !important;
}

.u-style-btn-section {
	background-color: transparent !important;
	border: 3px solid color(neutral, c) !important;
	box-shadow: $shadow !important;
}

.u-c-w {
	color: color(neutral, c) !important;
}
